.message-container{
    display: flex;
    justify-content: flex-start;
    padding: 0 1vw;
}
.message-container.right {
    justify-content: flex-end;
}

.message-container.right .message{
    background-color: #0099FF;
    color: white;
}

/* css for the message dialouge in Messages.js component */
.thread-container{
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
    max-height: 85vh;
    background-color: lightgreen;
}

.thread-container .thread{
    position: relative;
    width: 100%;
    background-color: lightblue;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.thread-container::-webkit-scrollbar {
    display: none;
  }

  /* css for typing indicator */
  

.tiblock {
    align-items: center;
    display: flex;
    height: 17px;
}

.ticontainer .tidot {
    background-color: #90949c;
}

.tidot {
    -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
    border-radius: 2px;
    display: inline-block;
    height: 4px;
    margin-right: 2px;
    width: 4px;
}

@-webkit-keyframes mercuryTypingAnimation{
0%{
  -webkit-transform:translateY(0px)
}
28%{
  -webkit-transform:translateY(-5px)
}
44%{
  -webkit-transform:translateY(0px)
}
}

.tidot:nth-child(1){
-webkit-animation-delay:200ms;
}
.tidot:nth-child(2){
-webkit-animation-delay:300ms;
}
.tidot:nth-child(3){
-webkit-animation-delay:400ms;
}